body{
        background-color: #0b0f1a;
}
.firstbg {
    height: 100vh;
    position: relative;
}

.custom-bg1 {
    object-fit: cover;
    object-position: 0 -150px;
}

.firstcontent {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 100px; 
}


.nameTitle {
    background-color: #0b0f1a;
    color: #d6e7ff;
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    border: 1px solid #0088cc;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.homeAboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;
    background-color: #121624; 
    color: #d0d0f5; 
    letter-spacing: 3px;
}

.homeAboutContainer .imgContainer img {
    border-radius: 50px;
}

.homeAboutContainer .textContainer {
    max-width: 700px;
}

.secondbg {
    height: 100vh;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #0e0f1b;
    color: #e0e0ff;
}

.projectTitle, .expTitle {
    font-size: 30px;
    background-color: rgba(102, 0, 204, 0.2); 
    color: #f0f8ff;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    border: 1px solid #6600cc;
    border-radius: 8px;
}

.secondbg .projectContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 20px;
    padding: 20px;
    border: 1px solid #2c2c40;
    border-radius: 8px;
    background-color: #1a1a2f; 
}

.thirdbg {
    height: 90vh;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #0c0c17;
    color: #e6e6ff;
}

.expCaro {
    width: 700px;
    height: 500px;
    background-color: #161a2b; 
    border: 1px solid #0099ff;
    border-radius: 12px;
}

.carousel-caption{color: white;}

.carouselWrapper {
  display: flex;
  align-items: center;     
  justify-content: center; 
}
.certificatecaption {
  background-color: #0c0c1755;
  border-radius: 30px;
}

footer{
    background-color: #161a2b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 300px;
}

footer .footerleft{
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

footer .footerright{
    display: flex;
    flex-direction: column;
    gap:20px;
    letter-spacing: 2px;
}

footer .footerright .followicons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 480px) {
    .firstbg {
    height: 50vh;
    position: relative;
    }

    .custom-bg1 {
        object-fit: cover;
        object-position: 0 -80px;
    }
  .firstcontent {
    height: 50vh;
    right: 0px;
  }

  .nameTitle {
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding: 0.5rem;
    position: relative;
    right: 7%;
    top: 150px;
  }

  .homeAboutContainer {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    text-align: center;
  }

  .homeAboutContainer .imgContainer img {
    display: none;
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }

  .homeAboutContainer .textContainer {
    max-width: 100%;
    text-align: start;
  }

  .secondbg {
    height: 100%;
  }
  .projectContainer {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 20px;
  }

  .projectTitle,
  .expTitle {
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding: 10px;
  }
  .thirdbg {
    height: 50vh;
    padding: 10px;
    text-align: center;
    background-color: #0c0c17;
    color: #e6e6ff;
}

  .expCaro {
    width: 100%;
    height: 300px;
    padding: 5px;
  }

  .carouselWrapper {
    flex-direction: column;

  }
  .certificate{
    height: 300px !important; 
  }
  .certificatecaption{
    position: relative;
    top: 20px;
    left: 0;
    padding: 0;
    margin: 0;
}
  .certificatecaption h5{
    font-size: 14px;
  }
    .certificatecaption p{
    font-size: 12px;
  }

  .fivebg{
    height: 70vh;
    padding: 20px;
  }

  footer {
    flex-direction: column;
    height: auto;
    gap: 20px;
    text-align: center;
  }

  footer .footerleft {
    font-size: 1.5rem;
    letter-spacing: 5px;
  }

  footer .footerright {
    align-items: center;
  }

  footer .footerright .followicons {
    gap: 10px;
  }
}
