@media only screen and (max-width: 480px) {

.navbarcontainer{
    display: flex;
    flex-direction: column;
    max-width: 100px !important;
}

.navlinkcontianer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding: 0px;
    margin: 0px;
}
.navabout, .navhome, .navproject{
    padding: 0;
    margin: 0;
    max-width: 100px;
}
}
